.masthead h1{
	font-size:2rem !important;
	margin-bottom:80px !important;
	
	background: -webkit-linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,100));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.btn{
	width:20% !important;
}

.staff_btn{
	background-color:#4CAF50  !important;
}

.student_btn{
	background-color:#827ffe  !important;
}